html, body {
  background: white;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 300ms ease-in-out background-color;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* utils */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.fsm {
  font-size: 1rem;
}

/* Dark Mode */
.dm {
  background: black;
  color: white;
}

.dm .a11yDialog__outer {
  background: black;
  border: 1px solid white;
}

/* Menu */
.menu {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.menu__li {
  display: inline-block;
}

/* Title */
.site-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.2) translate(-48%, -55%);
  transform-origin: top left;
  transition: 500ms ease-in-out transform,
              500ms ease-in-out top,
              500ms ease-in-out left;
}

.started .site-title {
  top: 0;
  left: 0;
  margin: -6vh -8vw;
  transform: scale(0.5);
}

@media screen and (max-width: 600px) {
  .started .site-title {
    margin: 0;
  }
}

.site-title__logo {
  width: 320px;
  height: 200px;
  margin: 0;
  background: linear-gradient(to right, #4cd964, #007aff, #ff2d55, #5856d6, #4cd964);
  background-size: 300% 100%;
  animation: loading 2s linear infinite;
  -webkit-clip-path: url(#logoClip);
  clip-path: url(#logoClip);
}

.started .site-title__logo {
  background: linear-gradient(135deg, #fa354c 0%, #1a2980 100%);
  animation: none;
  background-size: 100%;
}

@supports not (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
  .site-title__logo,
  .started .site-title__logo {
    background: url(../assets/svg/logo.svg#logo);
  }
}

/* Animation */
.loading-bg {
  background: linear-gradient(to right, #4cd964, #007aff, #ff2d55, #5856d6, #4cd964);
  background-size: 300% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0%{background-position: 0% 100%}
  100%{background-position: 300% 100%}
}

/* Scoreboard */

.scoreboard {
  background: white;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 0;
  margin: -6vh -8vw;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .scoreboard {
    margin: 0;
  }
}

.scoreboard:empty {
  display: none;
}

.dm .scoreboard {
  background: black;
}

.scoreboard input {
  max-width: 80px;
}

.game {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .game {
    width: 100%;
  }
}

.video {
  background: black;
  height: 100%;
}

.views {
  bottom: 30px;
  left: 50%;
  background: white;
  position: absolute;
  padding: 10px;
  transform: translate(-50%);
}

@media screen and (max-width: 600px) {
  .views {
    margin: 0;
  }
}

.dm .views {
  background: black;
  color: white;
}

.views::after {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  bottom: 0;
  color: white;
  left: 50%;
  transform: translate(-50%, 80%);
}

.dm .views::after {
  color: black;
}

.views__views {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  margin-top: -2rem;
  position: absolute;
  text-shadow: 0 0 10px black, 0 0 5px black, 0 0 1px black;
  white-space: nowrap;
}

.views__score {
  margin-top: 5px;
}

/* Buttons */

.button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
}

.button--primary {
  width: 125px;
  height: 40px;
  color: white;
  background: linear-gradient(135deg, #fa354c 0%, #1a2980 100%);
  background-size: 100%;
  border-radius: 25px;
  transition: 300ms ease-in-out background-size,
  300ms ease-in-out box-shadow;
}

.button--primary:hover,
.button--primary:focus {
  background-size: 200%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dm .button--primary:hover,
.dm .button--primary:focus {
  color: white;
}

.button--primary:active {
  background: white;
  color: black;
}

.button--game {
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: -2vh;
  left: 50%;
  transform: translate(-50%, 50%);
}

input[type=color] {
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 20px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 20px;
}

.nobutton {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
}
