.Aftermath__video {
  width: 100%;
  border: 0;
}

.Aftermath__video-container {
  position: relative;
  background: lightgray;
}

.Aftermath__video-views {
  position: absolute;
  background: white;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  bottom: -20px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(-10deg);
  animation: rotate 500ms ease-out 1;
   box-shadow: var(--box-shadow);
}

@keyframes rotate {
  0%{transform: rotate(360deg);}
}

.Aftermath__video-sub {
  text-align: center;
  display: block;
}

.Aftermath__views {
  font-size: 2rem;
}

.Aftermath__ranking {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.Aftermath__rank {
  display: inline-block;
  margin: var(--spacing);
}

.Aftermath__rank--1 {
  font-size: 1.5rem;
  width: 100%;
}

.Aftermath__rank--2 {
  font-size: 1.3rem;
  width: calc(50% - var(--spacing) * 2);
}

.Aftermath__rank--3 {
  font-size: 1.2rem;
  width: calc(50% - var(--spacing) * 2);
}

.LeaderBoard__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.LeaderBoard__color {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
}
