.button {
  background-color: var(--color-grey);
  border-radius: var(--border-radius);
  border: 0;
  box-shadow: var(--box-shadow-s);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px 10px;
  transition: background-color 250ms ease-in-out;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-secondary);
}

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button[disabled] {
  opacity: 0.8;
  background-color: var(--color-grey);
  color: black;
  cursor: not-allowed;
}

.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active {
  background-color: var(--color-grey);
  color: black;
}