:root {
  --spacing-s: 5px;
  --spacing: 10px;
  --spacing-l: 15px;
  --spacing-xxl: 40px;

  --border-radius: 5px;
}

.paper {
  padding: var(--spacing-xxl);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.section {
  box-shadow: var(--box-shadow);
  padding: 20px 25px 25px;
  background: white;
  border-radius: var(--border-radius);
}

/* Alignemnt */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.va-b {
  vertical-align: bottom;
}

/* Spacing */

.mr--s {
  margin-right: var(--spacing-s);
}

.mr {
  margin-right: var(--spacing);
}

.mr--l {
  margin-right: var(--spacing-l);
}

.mb--s {
  margin-bottom: var(--spacing-s);
}

.mb {
  margin-bottom: var(--spacing);
}

.mb--l {
  margin-bottom: var(--spacing-l);
}

.pr--s {
  padding-right: var(--spacing-s);
}

.pr {
  padding-right: var(--spacing);
}

.pr--l {
  padding-right: var(--spacing-l);
}

.pb--s {
  padding-bottom: var(--spacing-s);
}

.pb {
  padding-bottom: var(--spacing);
}

.pb--l {
  padding-bottom: var(--spacing-l);
}
